.mr10{
  margin-right: 10px;
}
.ml10{
  margin-left: 10px;
}
.mt10{
  margin-top: 10px;
}
.mb10{
  margin-bottom: 10px;
}
.mr20{
  margin-right: 20px;
}
.ml20{
  margin-left: 20px;
}
.mt20{
  margin-top: 20px;
}
.mb20{
  margin-bottom: 20px;
}
.df{
  display: flex;
}
.df_ac{
  display: flex;
  align-items: center;
}
.df_sb{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex1{
  flex: 1;
}