@import "./variables.less";

*{
  margin: 0;
  padding: 0;
}
html {
  // overflow:auto;
  scrollbar-gutter: stable;
}
body{
  color: #050505;
  background-color: #f0f2f5;
  direction: ltr;
  line-height: 1.34;
  font-size: 15px;
  // scrollbar-gutter: stable;
}

a {
  color: @primaryColor;
  text-decoration: none;
}
img {
  vertical-align: top;
}
ul, li {
  list-style: none;
}
.secondColor{
  color: @secondColor;
}
